Module 1
Task 1: Analyzing Loan Data.
In the bustling office of the loan department, our dedicated team gathers around a mission: to analyze the loans data, uncovering the stories hidden within it. We embark on this task because we know that responsible lending is the cornerstone of financial stability. By diving into this dataset, we aim to ensure that every loan we extend is based on thorough statistical evaluation, reducing risk and ensuring client success. With pandas and Python by our side, we're equipped to turn this raw data into actionable insights, contributing to a brighter financial future for our clients and our institution.

In [1]:
import pandas as pd

In [2]:
sla=pd.read_csv('C:/Deepthi_Personal/DataAnalytics 2/Python/Statistical loan analysis/Loans.csv')
sla.head()

,ListingNumber,Term,LoanStatus,BorrowerRate,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (Alpha),Occupation,EmploymentStatus,IsBorrowerHomeowner,LoanOriginalAmount,MonthlyLoanPayment,Investors
0,193129,36,Completed,0.1580,NaN,NaN,NaN,NaN,Other,Self-employed,True,9425,330.43,258
1,1209647,36,Current,0.0920,0.07960,0.0249,0.05470,A,Professional,Employed,False,10000,318.93,1
2,81716,36,Completed,0.2750,NaN,NaN,NaN,NaN,Other,Not available,False,3001,123.32,41
3,658116,36,Current,0.0974,0.08490,0.0249,0.06000,A,Skilled Labor,Employed,True,10000,321.45,158
4,909464,36,Current,0.2085,0.18316,0.0925,0.09066,D,Executive,Employed,True,15000,563.97,20

In [3]:
sla.shape

(113937, 14)

Task 2: Pursuing Data Purity.
In our quest for data integrity, we tackle the task of identifying and eliminating duplicates within our loan records. We undertake this mission to ensure the accuracy and reliability of our financial data. By pinpointing and removing duplicates, we create a clean and uncluttered dataset, reducing the risk of erroneous decisions and enhancing our ability to provide clients with transparent and trustworthy financial services. With each duplicate we eradicate, we pave the way for more informed and responsible lending practices, safeguarding the financial futures of our valued clients.

In [4]:
duplicates=sla.duplicated().sum()
duplicates

871

Task 3: Removing Duplicates for Precision Lending.
In our relentless pursuit of data excellence, we're on a mission to remove duplicate entries from our loan dataset. We embark on this task to enhance the efficiency and accuracy of our lending operations. By eliminating duplicates, we aim to create a streamlined and error-free database that underpins our commitment to responsible lending. Each duplicate erased ensures that our clients' financial journeys are free from confusion and ambiguity, ultimately contributing to a more seamless and secure lending experience.

In [5]:
sla.drop_duplicates(inplace=True)

In [6]:
sla.duplicated().sum()

0

Task 4: Addressing Null Values.
In our relentless pursuit of data accuracy, we focus on identifying and rectifying null values within our loan dataset. We undertake this task to ensure that our financial records are complete and reliable. By addressing null values, we aim to provide a comprehensive and trustworthy dataset, enabling more precise lending decisions. Each null value resolved is a step towards greater transparency and accountability in our lending operations, ultimately enhancing the financial well-being of our clients.

In [7]:
null_values=sla.isnull().sum()
null_values

ListingNumber                  0
Term                           0
LoanStatus                     0
BorrowerRate                   0
EstimatedEffectiveYield    29084
EstimatedLoss              29084
EstimatedReturn            29084
ProsperRating (Alpha)      29084
Occupation                  3529
EmploymentStatus            2255
IsBorrowerHomeowner            0
LoanOriginalAmount             0
MonthlyLoanPayment             0
Investors                      0
dtype: int64

Task 5: Ensuring Data Completeness.
In our unwavering commitment to data quality, we're focused on the task of eliminating null values from our loan dataset. We embark on this mission to guarantee that our financial records are robust and complete. By removing null values, we aim to provide a dataset that's reliable and comprehensive, thereby facilitating well-informed lending decisions. Every null value addressed brings us one step closer to a more accurate and dependable foundation for our lending operations, ultimately fortifying the financial stability of our clients.

In [8]:
sla.dropna(inplace=True)

In [9]:
sla.isnull().sum()

ListingNumber              0
Term                       0
LoanStatus                 0
BorrowerRate               0
EstimatedEffectiveYield    0
EstimatedLoss              0
EstimatedReturn            0
ProsperRating (Alpha)      0
Occupation                 0
EmploymentStatus           0
IsBorrowerHomeowner        0
LoanOriginalAmount         0
MonthlyLoanPayment         0
Investors                  0
dtype: int64

Module 2
Task 1: Renaming Columns for Clarity.
In our ongoing quest for data clarity, we've embarked on a task to rename columns within our loan dataset. We undertake this mission to enhance the readability and understanding of our data. By assigning more intuitive and informative column names, we aim to facilitate smoother data analysis and interpretation, ultimately enabling us to make more precise lending decisions. Each column renamed is a step towards a dataset that speaks clearly and concisely, guiding us towards a more informed and efficient lending process for the benefit of our clients.

In [10]:
sla.columns

Index(['ListingNumber', 'Term', 'LoanStatus', 'BorrowerRate',
       'EstimatedEffectiveYield', 'EstimatedLoss', 'EstimatedReturn',
       'ProsperRating (Alpha)', 'Occupation', 'EmploymentStatus',
       'IsBorrowerHomeowner', 'LoanOriginalAmount', 'MonthlyLoanPayment',
       'Investors'],
      dtype='object')

In [11]:
namer={"ListingNumber" : "id","term" : "duration", "LoanStatus" : "status", "BorrowerRate" : "rate", "EstimatedEffectiveYield" : "yield", 
       "EstimatedLoss" : "loss","EstimatedReturn" : "return","ProsperRating (Alpha)" : "prosper", "Occupation" : "occupation", "EmploymentStatus" : "employment",
      "IsBorrowerHomeowner" : "home_owner", "LoanOriginalamount" : "loan_amount","MonthlyLoanPayment" : "payment", "Investors" : "investors"}
sla.rename(columns=namer,inplace=True)

In [14]:
sla.columns

Index(['id', 'Term', 'status', 'rate', 'yield', 'loss', 'return', 'prosper',
       'occupation', 'employment', 'home_owner', 'loan_amount', 'payment',
       'investors'],
      dtype='object')

In [13]:
sla.rename(columns={"LoanOriginalAmount" : "loan_amount"},inplace=True)

In [40]:
sla.rename(columns={"Term" : "duration"},inplace=True)

Task 2: Categorizing for Efficiency.
In our quest for streamlined data management, we're working on categorizing specific columns within our loan dataset. We've taken on this task to optimize data storage and speed up data processing. By converting selected columns into categorical data types, we aim to reduce memory usage and accelerate data analysis, ultimately contributing to more efficient lending practices. Each column categorized represents a stride towards a more agile and responsive dataset, equipping us to make quicker and more data-informed lending decisions for the benefit of our clients.

In [41]:
sla.head()

,id,duration,status,rate,yield,loss,return,prosper,occupation,employment,home_owner,loan_amount,payment,investors
1,1209647,36,Current,0.0920,0.07960,0.0249,0.05470,A,Professional,Employed,False,10000,318.93,1
3,658116,36,Current,0.0974,0.08490,0.0249,0.06000,A,Skilled Labor,Employed,True,10000,321.45,158
4,909464,36,Current,0.2085,0.18316,0.0925,0.09066,D,Executive,Employed,True,15000,563.97,20
5,1074836,60,Current,0.1314,0.11567,0.0449,0.07077,B,Professional,Employed,True,15000,342.37,1
6,750899,36,Current,0.2712,0.23820,0.1275,0.11070,E,Sales - Retail,Employed,False,3000,122.67,1

Task 2: Categorizing for Efficiency.
In our quest for streamlined data management, we're working on categorizing specific columns within our loan dataset. We've taken on this task to optimize data storage and speed up data processing. By converting selected columns into categorical data types, we aim to reduce memory usage and accelerate data analysis, ultimately contributing to more efficient lending practices. Each column categorized represents a stride towards a more agile and responsive dataset, equipping us to make quicker and more data-informed lending decisions for the benefit of our clients.

In [16]:
# Define a list of column names to be converted to categorical
categories=['status','prosper','occupation','employment']

# Loop through the list and convert specified columns to categorical
for col in categories:
    sla[col]=sla[col].astype('category')

print(sla.dtypes)

id                int64
Term              int64
status         category
rate            float64
yield           float64
loss            float64
return          float64
prosper        category
occupation     category
employment     category
home_owner         bool
loan_amount       int64
payment         float64
investors         int64
dtype: object

Task 3: Archiving the Insights.
In our pursuit of data preservation and accessibility, we're executing a task to save our loan dataset in a CSV file. We've taken on this mission to create a well-organized data archive for future reference and analysis. By exporting the dataset to a CSV file, we ensure that our valuable insights and lending history are securely stored, facilitating easy retrieval and analysis. Each dataset saved represents a proactive step towards a more data-resilient and informative lending operation, helping us maintain a historical record of our financial journey for the benefit of our clients and institution.

In [43]:
sla.to_csv('C:/Deepthi_Personal/DataAnalytics 2/SQL/Statistical_loan_analysis/cleaned_loan.csv',index=False)

Task 4: Data Download, Import, and Database Connection.

In [18]:
%load_ext sql

In [19]:
%sql postgresql://postgres:post1234@localhost/statistical_loan

Module 3
Task 1: A Glimpse into the World of Loans.
In our endeavor to understand the depth of our loan dataset, we execute a simple yet essential task – counting the records. We undertake this mission to gain insights into the scale of our lending operations and the volume of data at our disposal. By counting the records, we obtain a clear picture of our dataset's size and potential. Each count we perform contributes to a better understanding of our data, paving the way for more informed decision-making and strategic planning in the realm of lending.

%sql select count(*) from loans

Task 2: Profiling Loan Data.
We perform this mission to gain a deeper understanding of interest rates and loan amounts. By selecting, counting, and aggregating specific data points within a defined interest rate range, we extract valuable statistics. Each calculated metric sheds light on the lending landscape, offering us a comprehensive view of interest rate dynamics and loan amount variations. This in-depth analysis equips us to make more informed decisions, set competitive interest rates, and tailor loan amounts effectively for our clients' financial success.

In [23]:
%sql select count(*) as loan_count,cast(avg(rate) as decimal(10,2)) as average_interest_rate,min(rate) as min_interest_rate, max(rate) as max_interest_rate, cast(avg(loan_amount) as decimal(10,2)) as average_loan_amount,min(loan_amount) as min_loan_amount, max(loan_amount) as max_loan_amount from loans where rate between 0.06 and 0.26

 * postgresql://postgres:***@localhost/statistical_loan
1 rows affected.

[(62841, Decimal('0.16'), 0.06, 0.26, Decimal('10478.59'), 1000, 35000)]

Task 3: Navigating Loan Metrics.
Our mission is to explore the intricate details of our loan data through a structured query. We aim to extract valuable insights into the interest rates and loan amounts within a specific range. By calculating statistics like loan count, average interest rate, and loan amount extremes, we gain a comprehensive understanding of our lending practices. This analysis empowers us to make data-driven decisions, ensuring competitive interest rates and optimized loan amounts for our clients, enhancing their financial experience and ensuring sound lending practices.

In [26]:
%sql select employment,sum(loan_amount) as total_loan from loans group by employment order by employment asc

 * postgresql://postgres:***@localhost/statistical_loan
7 rows affected.

[('Employed', 650912160),
 ('Full-time', 43432751),
 ('Not employed', 3421628),
 ('Other', 15666206),
 ('Part-time', 861148),
 ('Retired', 1661185),
 ('Self-employed', 35070141)]

Task 4: Charting the Loan Landscape.
In our mission to gain a comprehensive view of our lending practices, we embark on a task to group and count loans based on their duration and status. By employing SQL to organize this data, we uncover patterns and trends within our loan portfolio. The grouped data allows us to better understand the distribution of loans across different durations and statuses. This insight supports more informed decision-making and strategic planning, helping us tailor our lending offerings to align with the needs of our clients.

In [45]:
%sql select duration, status, count(*) as loan_count from loans group by duration,status order by duration asc,status asc

 * postgresql://postgres:***@localhost/statistical_loan
32 rows affected.

[(12, 'Chargedoff', 72),
 (12, 'Completed', 1449),
 (12, 'Current', 62),
 (12, 'Defaulted', 10),
 (12, 'FinalPaymentInProgress', 10),
 (12, 'Past Due (1-15 days)', 3),
 (12, 'Past Due (16-30 days)', 3),
 (12, 'Past Due (31-60 days)', 1),
 (12, 'Past Due (61-90 days)', 2),
 (12, 'Past Due (91-120 days)', 1),
 (36, 'Chargedoff', 4178),
 (36, 'Completed', 15769),
 (36, 'Current', 34849),
 (36, 'Defaulted', 809),
 (36, 'FinalPaymentInProgress', 153),
 (36, 'Past Due (>120 days)', 9),
 (36, 'Past Due (1-15 days)', 543),
 (36, 'Past Due (16-30 days)', 173),
 (36, 'Past Due (31-60 days)', 233),
 (36, 'Past Due (61-90 days)', 203),
 (36, 'Past Due (91-120 days)', 193),
 (60, 'Chargedoff', 1086),
 (60, 'Completed', 2420),
 (60, 'Current', 19573),
 (60, 'Defaulted', 186),
 (60, 'FinalPaymentInProgress', 38),
 (60, 'Past Due (>120 days)', 7),
 (60, 'Past Due (1-15 days)', 247),
 (60, 'Past Due (16-30 days)', 88),
 (60, 'Past Due (31-60 days)', 122),
 (60, 'Past Due (61-90 days)', 106),
 (60, 'Past Due (91-120 days)', 110)]

Task 5: Employability and Interest Rates.
Our task revolves around examining the relationship between employment status and interest rates within our loan dataset. We perform this task to identify how employment influences borrowing costs and to understand the distribution of loans among different employment categories. Through SQL's grouping and aggregation, we gain insights into average interest rates across various employment statuses. This analysis equips us to tailor our lending practices, offer competitive rates, and serve clients effectively based on their employment situation, ultimately contributing to a more financially inclusive and responsive lending approach.

In [46]:
%sql select employment,cast(avg(rate) as decimal(10,2)) as average_interst_rate, count(*) as loan_count from loans group by employment order by employment

 * postgresql://postgres:***@localhost/statistical_loan
7 rows affected.

[('Employed', Decimal('0.19'), 66586),
 ('Full-time', Decimal('0.20'), 7925),
 ('Not employed', Decimal('0.26'), 649),
 ('Other', Decimal('0.23'), 2469),
 ('Part-time', Decimal('0.21'), 256),
 ('Retired', Decimal('0.22'), 367),
 ('Self-employed', Decimal('0.21'), 4456)]

Task 6: Homeownership and Interest Rates.
Our task is to delve into the connection between homeownership and interest rates within our loan dataset. We undertake this mission to discern how owning a home impacts borrowing costs and to assess the distribution of loans among homeowners and non-homeowners. By utilizing SQL to group and aggregate this data, we gain insights into average interest rates for these distinct groups. This analysis enables us to refine our lending strategies, offering competitive rates tailored to clients' homeownership status, fostering a more inclusive and client-centric approach to financial services.

In [47]:
%sql select home_owner, cast(avg(rate) as decimal(10,2)) as average_interest_rate, count(*) as loan_count from loans group by home_owner order by home_owner

 * postgresql://postgres:***@localhost/statistical_loan
2 rows affected.

[(False, Decimal('0.21'), 38864), (True, Decimal('0.19'), 43844)]

Task 7: Unpacking Prosper Ratings.
Our mission is to dissect the impact of Prosper ratings on interest rates within our loan dataset. We embark on this task to uncover how creditworthiness influences borrowing costs and to understand the loan distribution across different Prosper rating categories. Through SQL's grouping and aggregation, we extract insights into average interest rates for each rating category. This analysis equips us to fine-tune our lending practices, providing competitive rates tailored to clients' credit profiles, enhancing financial accessibility, and ensuring a more personalized approach to lending.

In [49]:
%sql select prosper, cast(avg(rate) as decimal(10,2)) as average_interest_rate, count(*) as loan_count from loans group by prosper order by prosper

 * postgresql://postgres:***@localhost/statistical_loan
7 rows affected.

[('A', Decimal('0.11'), 14186),
 ('AA', Decimal('0.08'), 5273),
 ('B', Decimal('0.15'), 15124),
 ('C', Decimal('0.19'), 17728),
 ('D', Decimal('0.25'), 13987),
 ('E', Decimal('0.29'), 9547),
 ('HR', Decimal('0.32'), 6863)]

Task 8: Loan Amounts and Monthly Payments.
Our task revolves around investigating the relationship between loan amounts and monthly payments within our loan dataset. We embark on this mission to comprehend how the size of loans impacts the monthly financial commitment for borrowers. By using SQL's grouping and aggregation, we gain insights into the average monthly payments for various loan amount categories. This analysis empowers us to align our lending strategies, ensuring that loan terms correspond with clients' financial capabilities, ultimately fostering responsible lending and financial well-being.

In [50]:
%sql select loan_amount, cast(avg(payment) as decimal(10,2)) as average_payment, count(*) as loan_count from loans group by loan_amount order by loan_amount

 * postgresql://postgres:***@localhost/statistical_loan
1923 rows affected.

[(1000, Decimal('35.28'), 761),
 (1050, Decimal('30.63'), 7),
 (1080, Decimal('26.09'), 1),
 (1099, Decimal('38.13'), 1),
 (1100, Decimal('37.37'), 41),
 (1112, Decimal('34.39'), 1),
 (1125, Decimal('42.17'), 2),
 (1150, Decimal('46.09'), 4),
 (1175, Decimal('42.48'), 1),
 (1190, Decimal('44.76'), 1),
 (1200, Decimal('42.42'), 110),
 (1215, Decimal('48.95'), 1),
 (1234, Decimal('37.46'), 1),
 (1250, Decimal('49.96'), 21),
 (1275, Decimal('40.68'), 1),
 (1300, Decimal('45.07'), 38),
 (1315, Decimal('48.49'), 1),
 (1336, Decimal('54.90'), 1),
 (1350, Decimal('48.04'), 5),
 (1364, Decimal('60.09'), 1),
 (1390, Decimal('62.88'), 1),
 (1395, Decimal('52.56'), 1),
 (1400, Decimal('51.56'), 25),
 (1422, Decimal('53.57'), 1),
 (1424, Decimal('0.00'), 1),
 (1425, Decimal('0.00'), 1),
 (1450, Decimal('55.70'), 4),
 (1475, Decimal('61.15'), 2),
 (1477, Decimal('58.73'), 1),
 (1484, Decimal('59.70'), 1),
 (1500, Decimal('55.61'), 475),
 (1550, Decimal('42.02'), 4),
 (1575, Decimal('58.45'), 1),
 (1577, Decimal('62.13'), 1),
 (1600, Decimal('53.94'), 35),
 (1650, Decimal('61.69'), 6),
 (1666, Decimal('51.52'), 1),
 (1667, Decimal('55.14'), 1),
 (1675, Decimal('75.77'), 1),
 (1680, Decimal('51.68'), 1),
 (1699, Decimal('65.05'), 2),
 (1700, Decimal('64.74'), 29),
 (1725, Decimal('55.34'), 1),
 (1750, Decimal('69.85'), 22),
 (1765, Decimal('68.05'), 1),
 (1770, Decimal('57.95'), 1),
 (1775, Decimal('67.26'), 2),
 (1780, Decimal('65.81'), 2),
 (1800, Decimal('64.61'), 40),
 (1850, Decimal('76.12'), 4),
 (1900, Decimal('73.85'), 14),
 (1950, Decimal('99.27'), 5),
 (1975, Decimal('79.57'), 1),
 (1990, Decimal('82.31'), 1),
 (1995, Decimal('85.78'), 1),
 (1999, Decimal('0.00'), 2),
 (2000, Decimal('83.42'), 4513),
 (2001, Decimal('65.57'), 2),
 (2025, Decimal('85.62'), 1),
 (2050, Decimal('79.36'), 1),
 (2051, Decimal('92.03'), 1),
 (2060, Decimal('75.72'), 3),
 (2075, Decimal('91.99'), 2),
 (2100, Decimal('81.53'), 70),
 (2102, Decimal('72.34'), 1),
 (2125, Decimal('85.23'), 1),
 (2150, Decimal('79.09'), 7),
 (2175, Decimal('92.64'), 2),
 (2200, Decimal('86.51'), 104),
 (2209, Decimal('96.19'), 1),
 (2215, Decimal('72.92'), 1),
 (2246, Decimal('87.48'), 1),
 (2250, Decimal('96.69'), 19),
 (2264, Decimal('98.61'), 1),
 (2273, Decimal('69.65'), 1),
 (2277, Decimal('98.88'), 1),
 (2287, Decimal('99.33'), 1),
 (2295, Decimal('99.67'), 1),
 (2300, Decimal('85.42'), 72),
 (2313, Decimal('98.19'), 1),
 (2320, Decimal('100.75'), 1),
 (2326, Decimal('101.00'), 1),
 (2344, Decimal('201.36'), 1),
 (2345, Decimal('101.81'), 1),
 (2350, Decimal('113.73'), 4),
 (2375, Decimal('148.68'), 2),
 (2385, Decimal('103.57'), 1),
 (2388, Decimal('97.48'), 1),
 (2400, Decimal('88.26'), 65),
 (2418, Decimal('87.11'), 1),
 (2432, Decimal('79.06'), 1),
 (2440, Decimal('99.60'), 1),
 (2450, Decimal('75.76'), 1),
 (2457, Decimal('106.99'), 1),
 (2465, Decimal('100.48'), 1),
 (2469, Decimal('80.09'), 2),
 (2475, Decimal('95.25'), 3),
 (2480, Decimal('75.45'), 1),
 (2483, Decimal('107.83'), 1),
 (2495, Decimal('77.04'), 1),
 (2499, Decimal('112.13'), 1),
 (2500, Decimal('99.43'), 1835),
 (2525, Decimal('99.05'), 1),
 (2535, Decimal('78.22'), 1),
 (2536, Decimal('83.49'), 1),
 (2550, Decimal('95.22'), 8),
 (2577, Decimal('247.05'), 1),
 (2578, Decimal('82.82'), 1),
 (2595, Decimal('222.93'), 1),
 (2600, Decimal('98.01'), 61),
 (2610, Decimal('64.80'), 1),
 (2617, Decimal('90.32'), 1),
 (2620, Decimal('106.95'), 1),
 (2625, Decimal('92.98'), 3),
 (2630, Decimal('84.80'), 1),
 (2635, Decimal('73.08'), 1),
 (2650, Decimal('111.18'), 10),
 (2653, Decimal('119.04'), 1),
 (2667, Decimal('84.55'), 1),
 (2669, Decimal('104.63'), 1),
 (2675, Decimal('64.63'), 1),
 (2685, Decimal('89.68'), 1),
 (2700, Decimal('107.86'), 68),
 (2703, Decimal('82.49'), 1),
 (2724, Decimal('118.29'), 1),
 (2725, Decimal('118.66'), 1),
 (2738, Decimal('90.41'), 1),
 (2750, Decimal('102.98'), 25),
 (2764, Decimal('120.37'), 1),
 (2770, Decimal('250.00'), 2),
 (2774, Decimal('120.47'), 1),
 (2780, Decimal('106.16'), 1),
 (2784, Decimal('249.95'), 1),
 (2785, Decimal('250.04'), 2),
 (2800, Decimal('110.22'), 99),
 (2802, Decimal('122.02'), 1),
 (2803, Decimal('122.06'), 1),
 (2804, Decimal('122.13'), 1),
 (2805, Decimal('122.16'), 1),
 (2809, Decimal('105.66'), 2),
 (2810, Decimal('122.03'), 1),
 (2817, Decimal('122.32'), 1),
 (2819, Decimal('122.42'), 1),
 (2826, Decimal('123.05'), 1),
 (2828, Decimal('122.01'), 1),
 (2831, Decimal('107.14'), 2),
 (2837, Decimal('102.78'), 1),
 (2838, Decimal('123.59'), 1),
 (2839, Decimal('123.29'), 1),
 (2840, Decimal('123.67'), 2),
 (2850, Decimal('158.15'), 6),
 (2851, Decimal('124.15'), 1),
 (2854, Decimal('249.97'), 2),
 (2855, Decimal('250.06'), 1),
 (2858, Decimal('124.11'), 1),
 (2860, Decimal('250.50'), 2),
 (2861, Decimal('124.58'), 1),
 (2862, Decimal('98.71'), 1),
 (2864, Decimal('124.73'), 1),
 (2868, Decimal('124.88'), 1),
 (2870, Decimal('112.30'), 2),
 (2871, Decimal('125.05'), 1),
 (2875, Decimal('148.94'), 4),
 (2876, Decimal('125.24'), 1),
 (2879, Decimal('125.37'), 1),
 (2880, Decimal('99.12'), 1),
 (2881, Decimal('125.45'), 1),
 (2884, Decimal('125.24'), 1),
 (2888, Decimal('125.78'), 1),
 (2891, Decimal('125.73'), 2),
 (2892, Decimal('125.60'), 1),
 (2898, Decimal('88.23'), 1),
 (2900, Decimal('115.57'), 42),
 (2914, Decimal('126.53'), 1),
 (2917, Decimal('127.03'), 1),
 (2925, Decimal('120.03'), 2),
 (2926, Decimal('127.44'), 1),
 (2932, Decimal('127.70'), 1),
 (2933, Decimal('127.73'), 1),
 (2936, Decimal('127.52'), 1),
 (2937, Decimal('127.88'), 1),
 (2939, Decimal('128.00'), 1),
 (2949, Decimal('128.09'), 1),
 (2950, Decimal('109.04'), 5),
 (2951, Decimal('128.16'), 1),
 (2957, Decimal('85.02'), 1),
 (2960, Decimal('127.72'), 1),
 (2961, Decimal('128.94'), 1),
 (2970, Decimal('94.14'), 1),
 (2975, Decimal('121.58'), 2),
 (2976, Decimal('129.62'), 1),
 (2980, Decimal('129.77'), 1),
 (2985, Decimal('125.00'), 3),
 (2991, Decimal('130.27'), 1),
 (2995, Decimal('120.67'), 1),
 (2997, Decimal('96.70'), 1),
 (2999, Decimal('125.79'), 3),
 (3000, Decimal('118.40'), 3382),
 (3013, Decimal('131.23'), 1),
 (3025, Decimal('82.77'), 3),
 (3032, Decimal('131.67'), 1),
 (3033, Decimal('130.88'), 1),
 (3049, Decimal('115.80'), 2),
 (3050, Decimal('278.27'), 1),
 (3060, Decimal('202.58'), 2),
 (3061, Decimal('132.93'), 1),
 (3070, Decimal('133.70'), 1),
 (3090, Decimal('108.41'), 1),
 (3093, Decimal('134.68'), 1),
 (3099, Decimal('134.97'), 1),
 (3100, Decimal('112.84'), 48),
 (3104, Decimal('135.17'), 1),
 (3108, Decimal('279.44'), 1),
 (3125, Decimal('102.31'), 1),
 (3130, Decimal('136.29'), 1),
 (3132, Decimal('136.40'), 1),
 (3136, Decimal('136.20'), 1),
 (3140, Decimal('98.83'), 1),
 (3148, Decimal('125.59'), 2),
 (3149, Decimal('71.15'), 1),
 (3150, Decimal('124.42'), 5),
 (3151, Decimal('137.21'), 1),
 (3155, Decimal('137.40'), 1),
 (3160, Decimal('137.23'), 1),
 (3161, Decimal('137.68'), 1),
 (3166, Decimal('137.86'), 1),
 (3175, Decimal('103.95'), 1),
 (3180, Decimal('125.81'), 1),
 (3184, Decimal('111.70'), 1),
 (3200, Decimal('121.38'), 138),
 (3210, Decimal('118.95'), 1),
 (3214, Decimal('117.39'), 1),
 (3222, Decimal('139.93'), 1),
 (3225, Decimal('114.96'), 1),
 (3235, Decimal('140.49'), 1),
 (3240, Decimal('111.51'), 1),
 (3245, Decimal('107.61'), 1),
 (3250, Decimal('135.34'), 23),
 (3255, Decimal('141.36'), 1),
 (3257, Decimal('141.83'), 1),
 (3258, Decimal('141.50'), 1),
 (3265, Decimal('135.85'), 1),
 (3267, Decimal('141.88'), 1),
 (3275, Decimal('111.50'), 2),
 (3282, Decimal('141.62'), 1),
 (3286, Decimal('111.75'), 1),
 (3290, Decimal('101.63'), 1),
 (3300, Decimal('126.53'), 44),
 (3301, Decimal('143.33'), 1),
 (3304, Decimal('128.69'), 1),
 (3316, Decimal('105.91'), 1),
 (3327, Decimal('114.50'), 1),
 (3330, Decimal('134.61'), 1),
 (3333, Decimal('132.59'), 1),
 (3340, Decimal('129.06'), 1),
 (3342, Decimal('145.27'), 3),
 (3347, Decimal('145.36'), 1),
 (3350, Decimal('207.46'), 9),
 (3360, Decimal('248.69'), 3),
 (3365, Decimal('300.23'), 2),
 (3367, Decimal('146.61'), 1),
 (3369, Decimal('145.34'), 1),
 (3370, Decimal('204.00'), 2),
 (3378, Decimal('146.68'), 1),
 (3380, Decimal('107.80'), 1),
 (3382, Decimal('147.29'), 1),
 (3383, Decimal('146.93'), 1),
 (3386, Decimal('147.48'), 1),
 (3392, Decimal('147.31'), 1),
 (3393, Decimal('147.77'), 1),
 (3394, Decimal('147.40'), 1),
 (3400, Decimal('138.04'), 38),
 (3402, Decimal('131.46'), 1),
 (3403, Decimal('147.76'), 1),
 (3406, Decimal('148.34'), 1),
 (3410, Decimal('148.49'), 1),
 (3414, Decimal('117.50'), 1),
 (3418, Decimal('148.45'), 1),
 (3420, Decimal('300.00'), 2),
 (3422, Decimal('137.85'), 1),
 (3425, Decimal('148.74'), 1),
 (3435, Decimal('133.78'), 1),
 (3440, Decimal('149.39'), 1),
 (3450, Decimal('205.87'), 9),
 (3452, Decimal('145.26'), 1),
 (3454, Decimal('150.41'), 1),
 (3461, Decimal('111.25'), 1),
 (3475, Decimal('237.89'), 3),
 (3480, Decimal('213.61'), 2),
 (3484, Decimal('299.99'), 2),
 (3485, Decimal('249.36'), 3),
 (3488, Decimal('146.78'), 1),
 (3490, Decimal('300.52'), 1),
 (3492, Decimal('112.09'), 1),
 (3493, Decimal('152.10'), 1),
 (3495, Decimal('300.93'), 1),
 (3498, Decimal('152.34'), 1),
 (3499, Decimal('112.89'), 1),
 (3500, Decimal('139.01'), 1644),
 (3503, Decimal('139.13'), 1),
 (3504, Decimal('299.95'), 1),
 (3506, Decimal('152.67'), 1),
 (3508, Decimal('300.29'), 1),
 (3510, Decimal('300.47'), 1),
 (3520, Decimal('112.26'), 1),
 (3537, Decimal('154.02'), 1),
 (3545, Decimal('118.31'), 1),
 (3548, Decimal('113.16'), 1),
 (3549, Decimal('154.11'), 1),
 (3550, Decimal('174.28'), 5),
 (3562, Decimal('115.61'), 1),
 (3563, Decimal('155.15'), 1),
 (3570, Decimal('113.86'), 1),
 (3573, Decimal('0.00'), 1),
 (3575, Decimal('118.55'), 1),
 (3589, Decimal('105.43'), 1),
 (3597, Decimal('342.83'), 1),
 (3600, Decimal('167.01'), 96),
 (3606, Decimal('157.05'), 1),
 (3610, Decimal('141.65'), 2),
 (3612, Decimal('156.85'), 1),
 (3613, Decimal('157.12'), 2),
 (3630, Decimal('157.64'), 1),
 (3636, Decimal('117.32'), 1),
 (3637, Decimal('116.91'), 1),
 (3643, Decimal('125.38'), 1),
 (3650, Decimal('124.48'), 2),
 (3658, Decimal('114.11'), 1),
 (3660, Decimal('150.11'), 1),
 (3665, Decimal('132.61'), 1),
 (3674, Decimal('144.03'), 1),
 (3675, Decimal('125.11'), 2),
 (3678, Decimal('98.65'), 1),
 (3690, Decimal('116.98'), 1),
 (3700, Decimal('131.94'), 72),
 (3701, Decimal('329.64'), 1),
 (3704, Decimal('127.84'), 1),
 (3710, Decimal('102.89'), 1),
 (3712, Decimal('146.61'), 1),
 (3718, Decimal('161.46'), 1),
 (3740, Decimal('144.52'), 1),
 (3742, Decimal('136.68'), 1),
 (3747, Decimal('162.70'), 1),
 (3750, Decimal('135.06'), 23),
 (3753, Decimal('134.93'), 1),
 (3765, Decimal('170.31'), 1),
 (3773, Decimal('141.76'), 1),
 (3777, Decimal('152.18'), 1),
 (3785, Decimal('164.37'), 1),
 (3792, Decimal('165.13'), 1),
 (3793, Decimal('165.19'), 1),
 (3800, Decimal('146.94'), 83),
 (3804, Decimal('165.18'), 1),
 (3813, Decimal('123.73'), 1),
 (3820, Decimal('143.50'), 2),
 (3824, Decimal('116.42'), 1),
 (3840, Decimal('128.26'), 1),
 (3842, Decimal('146.71'), 1),
 (3850, Decimal('126.28'), 3),
 (3851, Decimal('167.73'), 1),
 (3862, Decimal('167.71'), 1),
 (3875, Decimal('139.47'), 1),
 (3879, Decimal('168.92'), 1),
 (3883, Decimal('156.42'), 1),
 (3890, Decimal('151.84'), 2),
 (3892, Decimal('169.49'), 1),
 (3895, Decimal('141.28'), 1),
 (3900, Decimal('143.16'), 48),
 (3912, Decimal('125.76'), 1),
 (3914, Decimal('143.51'), 1),
 (3918, Decimal('102.47'), 1),
 (3922, Decimal('170.30'), 1),
 (3927, Decimal('163.70'), 1),
 (3928, Decimal('160.35'), 1),
 (3933, Decimal('122.68'), 1),
 (3937, Decimal('170.98'), 1),
 (3939, Decimal('120.14'), 1),
 (3946, Decimal('171.83'), 1),
 (3948, Decimal('142.71'), 1),
 (3950, Decimal('140.85'), 4),
 (3956, Decimal('136.54'), 1),
 (3960, Decimal('133.82'), 1),
 (3968, Decimal('147.87'), 1),
 (3970, Decimal('136.63'), 1),
 (3973, Decimal('121.05'), 1),
 (3974, Decimal('148.70'), 1),
 (3975, Decimal('130.12'), 1),
 (3981, Decimal('162.50'), 1),
 (3982, Decimal('172.93'), 1),
 (3983, Decimal('166.73'), 1),
 (3985, Decimal('160.71'), 1),
 (3987, Decimal('156.82'), 1),
 (3995, Decimal('173.89'), 1),
 (3997, Decimal('0.00'), 1),
 (3998, Decimal('173.62'), 1),
 (3999, Decimal('181.14'), 8),
 (4000, Decimal('158.58'), 12649),
 (4025, Decimal('129.97'), 2),
 (4032, Decimal('141.45'), 1),
 (4050, Decimal('162.65'), 2),
 (4064, Decimal('131.78'), 1),
 (4065, Decimal('133.06'), 1),
 (4073, Decimal('153.43'), 1),
 (4096, Decimal('167.20'), 1),
 (4100, Decimal('137.85'), 19),
 (4120, Decimal('163.81'), 1),
 (4125, Decimal('131.56'), 1),
 (4131, Decimal('179.88'), 1),
 (4133, Decimal('131.81'), 1),
 (4135, Decimal('360.08'), 1),
 (4147, Decimal('145.49'), 1),
 (4150, Decimal('156.53'), 5),
 (4151, Decimal('166.39'), 1),
 (4165, Decimal('380.46'), 1),
 (4169, Decimal('136.47'), 1),
 (4174, Decimal('181.77'), 1),
 (4190, Decimal('182.48'), 1),
 (4200, Decimal('153.69'), 84),
 (4210, Decimal('146.66'), 1),
 (4220, Decimal('172.25'), 1),
 (4224, Decimal('183.94'), 1),
 (4246, Decimal('99.39'), 1),
 (4250, Decimal('155.39'), 15),
 (4256, Decimal('158.28'), 1),
 (4278, Decimal('161.06'), 1),
 (4280, Decimal('125.35'), 1),
 (4284, Decimal('99.68'), 1),
 (4296, Decimal('139.63'), 1),
 (4300, Decimal('137.74'), 27),
 (4305, Decimal('100.95'), 1),
 (4315, Decimal('176.15'), 1),
 (4318, Decimal('155.43'), 1),
 (4326, Decimal('154.97'), 1),
 (4327, Decimal('113.92'), 1),
 (4340, Decimal('189.00'), 1),
 (4350, Decimal('0.00'), 1),
 (4360, Decimal('186.00'), 2),
 (4361, Decimal('121.09'), 1),
 (4366, Decimal('161.12'), 1),
 (4370, Decimal('190.31'), 1),
 (4375, Decimal('176.85'), 1),
 (4385, Decimal('142.19'), 1),
 (4400, Decimal('178.23'), 36),
 (4403, Decimal('191.75'), 1),
 (4404, Decimal('179.77'), 1),
 (4425, Decimal('180.63'), 1),
 (4437, Decimal('127.60'), 1),
 (4440, Decimal('156.56'), 1),
 (4446, Decimal('169.76'), 1),
 (4448, Decimal('99.47'), 1),
 (4449, Decimal('149.35'), 1),
 (4458, Decimal('194.13'), 1),
 (4473, Decimal('180.18'), 1),
 (4481, Decimal('182.92'), 1),
 (4488, Decimal('406.69'), 1),
 (4497, Decimal('167.35'), 1),
 (4499, Decimal('182.77'), 2),
 (4500, Decimal('162.29'), 962),
 (4512, Decimal('386.24'), 1),
 (4517, Decimal('169.98'), 2),
 (4522, Decimal('196.94'), 1),
 (4524, Decimal('165.81'), 1),
 (4536, Decimal('197.53'), 1),
 (4537, Decimal('197.57'), 1),
 (4543, Decimal('167.67'), 1),
 (4550, Decimal('162.50'), 2),
 (4561, Decimal('164.30'), 1),
 (4564, Decimal('177.77'), 1),
 (4566, Decimal('174.35'), 1),
 (4587, Decimal('184.79'), 1),
 (4591, Decimal('184.14'), 1),
 (4600, Decimal('157.87'), 39),
 (4620, Decimal('146.42'), 1),
 (4622, Decimal('162.47'), 1),
 (4632, Decimal('153.83'), 1),
 (4650, Decimal('159.63'), 3),
 (4656, Decimal('152.41'), 1),
 (4657, Decimal('202.79'), 1),
 (4665, Decimal('145.53'), 1),
 (4683, Decimal('191.15'), 1),
 (4684, Decimal('191.20'), 1),
 (4689, Decimal('175.43'), 1),
 (4700, Decimal('152.41'), 30),
 (4725, Decimal('168.44'), 2),
 (4750, Decimal('173.25'), 20),
 (4767, Decimal('207.58'), 1),
 (4769, Decimal('187.09'), 1),
 (4771, Decimal('176.58'), 1),
 (4777, Decimal('457.95'), 1),
 (4787, Decimal('165.92'), 1),
 (4798, Decimal('179.52'), 1),
 (4799, Decimal('207.66'), 1),
 (4800, Decimal('177.35'), 58),
 (4807, Decimal('130.70'), 1),
 (4822, Decimal('188.90'), 1),
 (4833, Decimal('210.48'), 1),
 (4845, Decimal('174.19'), 1),
 (4850, Decimal('233.00'), 4),
 (4855, Decimal('151.01'), 1),
 (4869, Decimal('171.16'), 1),
 (4870, Decimal('176.04'), 1),
 (4871, Decimal('150.46'), 1),
 (4875, Decimal('154.55'), 1),
 (4877, Decimal('188.08'), 1),
 (4880, Decimal('197.27'), 1),
 (4887, Decimal('199.49'), 1),
 (4897, Decimal('119.82'), 1),
 (4900, Decimal('170.62'), 32),
 (4909, Decimal('170.16'), 1),
 (4910, Decimal('213.80'), 1),
 (4916, Decimal('154.25'), 1),
 (4939, Decimal('161.44'), 1),
 (4941, Decimal('199.06'), 1),
 (4944, Decimal('123.62'), 1),
 (4949, Decimal('183.42'), 1),
 (4950, Decimal('170.36'), 5),
 (4953, Decimal('224.05'), 1),
 (4955, Decimal('189.21'), 1),
 (4960, Decimal('196.90'), 2),
 (4971, Decimal('200.25'), 1),
 (4976, Decimal('185.05'), 1),
 (4977, Decimal('223.73'), 1),
 (4980, Decimal('172.63'), 1),
 (4981, Decimal('440.46'), 1),
 (4982, Decimal('177.09'), 1),
 (4985, Decimal('225.50'), 1),
 (4988, Decimal('217.24'), 1),
 (4999, Decimal('171.67'), 7),
 (5000, Decimal('180.41'), 4147),
 (5001, Decimal('177.78'), 1),
 (5003, Decimal('159.79'), 1),
 (5010, Decimal('181.10'), 1),
 (5025, Decimal('194.18'), 1),
 (5029, Decimal('163.22'), 1),
 (5046, Decimal('147.17'), 1),
 (5047, Decimal('199.84'), 3),
 (5050, Decimal('153.86'), 1),
 (5072, Decimal('166.03'), 1),
 (5100, Decimal('164.44'), 19),
 (5106, Decimal('222.38'), 1),
 (5109, Decimal('164.23'), 1),
 (5110, Decimal('171.54'), 1),
 (5113, Decimal('175.97'), 1),
 (5114, Decimal('155.69'), 1),
 (5138, Decimal('161.22'), 1),
 (5146, Decimal('224.12'), 1),
 (5149, Decimal('177.22'), 1),
 (5150, Decimal('178.79'), 4),
 (5155, Decimal('0.00'), 1),
 (5162, Decimal('178.94'), 1),
 (5163, Decimal('175.43'), 1),
 (5166, Decimal('210.88'), 1),
 (5174, Decimal('174.31'), 1),
 (5175, Decimal('165.05'), 1),
 (5177, Decimal('158.68'), 1),
 (5200, Decimal('181.33'), 42),
 (5212, Decimal('212.76'), 1),
 (5220, Decimal('191.32'), 1),
 (5225, Decimal('174.77'), 1),
 (5227, Decimal('203.59'), 1),
 (5247, Decimal('188.85'), 1),
 (5250, Decimal('206.39'), 17),
 (5252, Decimal('228.71'), 1),
 (5258, Decimal('173.40'), 1),
 (5260, Decimal('190.85'), 2),
 (5275, Decimal('229.74'), 2),
 (5284, Decimal('212.88'), 1),
 (5300, Decimal('182.27'), 34),
 (5325, Decimal('231.90'), 1),
 (5327, Decimal('232.00'), 1),
 (5340, Decimal('168.20'), 1),
 (5346, Decimal('153.73'), 1),
 (5347, Decimal('178.21'), 1),
 (5348, Decimal('232.90'), 1),
 (5349, Decimal('166.36'), 1),
 (5350, Decimal('151.71'), 2),
 (5383, Decimal('219.72'), 1),
 (5384, Decimal('234.46'), 1),
 (5400, Decimal('190.59'), 38),
 (5404, Decimal('235.35'), 1),
 (5416, Decimal('513.52'), 1),
 (5420, Decimal('194.05'), 1),
 (5436, Decimal('236.74'), 1),
 (5440, Decimal('172.46'), 1),
 (5450, Decimal('138.34'), 3),
 (5459, Decimal('191.52'), 1),
 (5460, Decimal('237.81'), 1),
 (5480, Decimal('156.92'), 1),
 (5488, Decimal('172.86'), 1),
 (5497, Decimal('239.39'), 1),
 (5500, Decimal('195.37'), 632),
 (5546, Decimal('241.54'), 1),
 (5550, Decimal('174.69'), 1),
 (5555, Decimal('241.93'), 1),
 (5566, Decimal('221.07'), 1),
 (5590, Decimal('243.44'), 1),
 (5592, Decimal('243.52'), 1),
 (5594, Decimal('243.60'), 1),
 (5595, Decimal('187.82'), 1),
 (5600, Decimal('197.76'), 32),
 (5609, Decimal('133.44'), 1),
 (5616, Decimal('244.56'), 1),
 (5629, Decimal('185.86'), 1),
 (5637, Decimal('174.13'), 1),
 (5650, Decimal('215.75'), 1),
 (5652, Decimal('172.32'), 1),
 (5659, Decimal('246.44'), 1),
 (5660, Decimal('155.66'), 2),
 (5665, Decimal('223.71'), 1),
 (5680, Decimal('238.83'), 2),
 (5697, Decimal('232.55'), 1),
 (5700, Decimal('199.07'), 28),
 (5712, Decimal('181.37'), 1),
 (5715, Decimal('214.17'), 2),
 (5721, Decimal('201.11'), 1),
 (5729, Decimal('200.26'), 1),
 (5733, Decimal('201.53'), 1),
 (5741, Decimal('231.26'), 1),
 (5750, Decimal('208.14'), 16),
 (5768, Decimal('180.53'), 1),
 (5775, Decimal('199.32'), 1),
 (5780, Decimal('251.70'), 1),
 (5795, Decimal('200.01'), 1),
 (5800, Decimal('195.34'), 39),
 (5802, Decimal('197.03'), 1),
 (5820, Decimal('182.35'), 1),
 (5826, Decimal('124.99'), 1),
 (5832, Decimal('253.98'), 1),
 (5836, Decimal('252.55'), 1),
 (5850, Decimal('232.66'), 4),
 (5871, Decimal('255.68'), 1),
 (5880, Decimal('140.47'), 1),
 (5892, Decimal('200.09'), 1),
 (5900, Decimal('214.15'), 12),
 (5913, Decimal('218.22'), 1),
 (5918, Decimal('135.70'), 1),
 (5925, Decimal('241.86'), 1),
 (5930, Decimal('220.85'), 2),
 (5948, Decimal('230.37'), 1),
 (5950, Decimal('214.69'), 2),
 (5952, Decimal('194.83'), 1),
 (5961, Decimal('234.46'), 1),
 (5963, Decimal('220.06'), 1),
 (5964, Decimal('259.74'), 1),
 (5975, Decimal('252.54'), 2),
 (5982, Decimal('194.13'), 1),

Task 9: Examining Interest Rates and Lending Dynamics.
Our task centers on exploring the connection between the number of investors and interest rates within our loan dataset. We undertake this mission to unravel how investor involvement influences borrowing costs and to gain a better understanding of the loan distribution across various investor scenarios. By employing SQL's grouping and aggregation, we extract insights into the average interest rates associated with different levels of investor participation. This analysis empowers us to fine-tune our lending strategies, ensuring competitive rates that cater to the preferences of investors, ultimately enhancing our lending practices and fostering a thriving financial ecosystem.

In [51]:
%sql select investors, cast(avg(rate) as decimal(10,2)) as average_interest_rate, count(*) as loan_count from loans group by investors order by investors

 * postgresql://postgres:***@localhost/statistical_loan
681 rows affected.

[(1, Decimal('0.17'), 25893),
 (2, Decimal('0.23'), 1182),
 (3, Decimal('0.24'), 849),
 (4, Decimal('0.24'), 682),
 (5, Decimal('0.25'), 609),
 (6, Decimal('0.26'), 563),
 (7, Decimal('0.25'), 544),
 (8, Decimal('0.26'), 609),
 (9, Decimal('0.26'), 539),
 (10, Decimal('0.26'), 518),
 (11, Decimal('0.25'), 508),
 (12, Decimal('0.25'), 439),
 (13, Decimal('0.25'), 451),
 (14, Decimal('0.24'), 408),
 (15, Decimal('0.25'), 405),
 (16, Decimal('0.25'), 404),
 (17, Decimal('0.25'), 414),
 (18, Decimal('0.24'), 365),
 (19, Decimal('0.24'), 408),
 (20, Decimal('0.24'), 340),
 (21, Decimal('0.24'), 410),
 (22, Decimal('0.24'), 396),
 (23, Decimal('0.25'), 393),
 (24, Decimal('0.25'), 389),
 (25, Decimal('0.24'), 417),
 (26, Decimal('0.24'), 441),
 (27, Decimal('0.24'), 449),
 (28, Decimal('0.24'), 404),
 (29, Decimal('0.25'), 411),
 (30, Decimal('0.24'), 415),
 (31, Decimal('0.24'), 418),
 (32, Decimal('0.24'), 408),
 (33, Decimal('0.24'), 447),
 (34, Decimal('0.24'), 461),
 (35, Decimal('0.24'), 437),
 (36, Decimal('0.24'), 429),
 (37, Decimal('0.24'), 447),
 (38, Decimal('0.24'), 436),
 (39, Decimal('0.24'), 454),
 (40, Decimal('0.24'), 413),
 (41, Decimal('0.23'), 401),
 (42, Decimal('0.23'), 406),
 (43, Decimal('0.24'), 394),
 (44, Decimal('0.23'), 418),
 (45, Decimal('0.23'), 406),
 (46, Decimal('0.23'), 400),
 (47, Decimal('0.24'), 371),
 (48, Decimal('0.23'), 412),
 (49, Decimal('0.23'), 375),
 (50, Decimal('0.23'), 365),
 (51, Decimal('0.22'), 345),
 (52, Decimal('0.23'), 372),
 (53, Decimal('0.24'), 355),
 (54, Decimal('0.23'), 361),
 (55, Decimal('0.23'), 392),
 (56, Decimal('0.23'), 322),
 (57, Decimal('0.22'), 328),
 (58, Decimal('0.23'), 371),
 (59, Decimal('0.22'), 329),
 (60, Decimal('0.23'), 324),
 (61, Decimal('0.23'), 316),
 (62, Decimal('0.22'), 341),
 (63, Decimal('0.23'), 310),
 (64, Decimal('0.22'), 327),
 (65, Decimal('0.23'), 308),
 (66, Decimal('0.22'), 314),
 (67, Decimal('0.22'), 274),
 (68, Decimal('0.22'), 310),
 (69, Decimal('0.22'), 283),
 (70, Decimal('0.22'), 293),
 (71, Decimal('0.22'), 294),
 (72, Decimal('0.22'), 302),
 (73, Decimal('0.22'), 331),
 (74, Decimal('0.22'), 307),
 (75, Decimal('0.23'), 294),
 (76, Decimal('0.22'), 286),
 (77, Decimal('0.21'), 294),
 (78, Decimal('0.20'), 285),
 (79, Decimal('0.21'), 288),
 (80, Decimal('0.21'), 259),
 (81, Decimal('0.21'), 246),
 (82, Decimal('0.22'), 261),
 (83, Decimal('0.20'), 240),
 (84, Decimal('0.21'), 240),
 (85, Decimal('0.21'), 231),
 (86, Decimal('0.21'), 270),
 (87, Decimal('0.21'), 209),
 (88, Decimal('0.21'), 215),
 (89, Decimal('0.20'), 216),
 (90, Decimal('0.20'), 226),
 (91, Decimal('0.20'), 231),
 (92, Decimal('0.21'), 207),
 (93, Decimal('0.19'), 182),
 (94, Decimal('0.20'), 207),
 (95, Decimal('0.21'), 182),
 (96, Decimal('0.19'), 202),
 (97, Decimal('0.20'), 201),
 (98, Decimal('0.20'), 176),
 (99, Decimal('0.20'), 191),
 (100, Decimal('0.19'), 181),
 (101, Decimal('0.19'), 173),
 (102, Decimal('0.19'), 173),
 (103, Decimal('0.18'), 186),
 (104, Decimal('0.19'), 176),
 (105, Decimal('0.19'), 166),
 (106, Decimal('0.19'), 184),
 (107, Decimal('0.19'), 177),
 (108, Decimal('0.19'), 168),
 (109, Decimal('0.19'), 154),
 (110, Decimal('0.18'), 200),
 (111, Decimal('0.19'), 148),
 (112, Decimal('0.18'), 164),
 (113, Decimal('0.19'), 183),
 (114, Decimal('0.19'), 162),
 (115, Decimal('0.18'), 155),
 (116, Decimal('0.19'), 151),
 (117, Decimal('0.18'), 134),
 (118, Decimal('0.19'), 180),
 (119, Decimal('0.19'), 162),
 (120, Decimal('0.18'), 140),
 (121, Decimal('0.17'), 165),
 (122, Decimal('0.17'), 145),
 (123, Decimal('0.18'), 131),
 (124, Decimal('0.19'), 130),
 (125, Decimal('0.18'), 152),
 (126, Decimal('0.18'), 151),
 (127, Decimal('0.19'), 135),
 (128, Decimal('0.18'), 132),
 (129, Decimal('0.19'), 151),
 (130, Decimal('0.18'), 163),
 (131, Decimal('0.19'), 120),
 (132, Decimal('0.17'), 137),
 (133, Decimal('0.18'), 126),
 (134, Decimal('0.18'), 143),
 (135, Decimal('0.17'), 135),
 (136, Decimal('0.18'), 123),
 (137, Decimal('0.17'), 134),
 (138, Decimal('0.17'), 138),
 (139, Decimal('0.17'), 131),
 (140, Decimal('0.18'), 152),
 (141, Decimal('0.18'), 124),
 (142, Decimal('0.18'), 135),
 (143, Decimal('0.18'), 143),
 (144, Decimal('0.17'), 121),
 (145, Decimal('0.18'), 128),
 (146, Decimal('0.17'), 123),
 (147, Decimal('0.18'), 125),
 (148, Decimal('0.17'), 119),
 (149, Decimal('0.18'), 119),
 (150, Decimal('0.16'), 116),
 (151, Decimal('0.18'), 135),
 (152, Decimal('0.16'), 148),
 (153, Decimal('0.19'), 128),
 (154, Decimal('0.17'), 131),
 (155, Decimal('0.18'), 107),
 (156, Decimal('0.18'), 116),
 (157, Decimal('0.17'), 118),
 (158, Decimal('0.17'), 107),
 (159, Decimal('0.17'), 107),
 (160, Decimal('0.18'), 107),
 (161, Decimal('0.17'), 131),
 (162, Decimal('0.17'), 134),
 (163, Decimal('0.17'), 118),
 (164, Decimal('0.17'), 99),
 (165, Decimal('0.16'), 126),
 (166, Decimal('0.17'), 96),
 (167, Decimal('0.17'), 105),
 (168, Decimal('0.17'), 121),
 (169, Decimal('0.17'), 112),
 (170, Decimal('0.16'), 107),
 (171, Decimal('0.16'), 112),
 (172, Decimal('0.16'), 109),
 (173, Decimal('0.16'), 83),
 (174, Decimal('0.17'), 121),
 (175, Decimal('0.17'), 95),
 (176, Decimal('0.16'), 100),
 (177, Decimal('0.16'), 84),
 (178, Decimal('0.17'), 102),
 (179, Decimal('0.15'), 99),
 (180, Decimal('0.16'), 95),
 (181, Decimal('0.17'), 105),
 (182, Decimal('0.16'), 98),
 (183, Decimal('0.17'), 99),
 (184, Decimal('0.17'), 76),
 (185, Decimal('0.16'), 99),
 (186, Decimal('0.16'), 88),
 (187, Decimal('0.16'), 77),
 (188, Decimal('0.16'), 77),
 (189, Decimal('0.17'), 82),
 (190, Decimal('0.17'), 85),
 (191, Decimal('0.17'), 87),
 (192, Decimal('0.18'), 79),
 (193, Decimal('0.16'), 78),
 (194, Decimal('0.14'), 73),
 (195, Decimal('0.18'), 67),
 (196, Decimal('0.16'), 90),
 (197, Decimal('0.14'), 83),
 (198, Decimal('0.15'), 72),
 (199, Decimal('0.16'), 75),
 (200, Decimal('0.15'), 76),
 (201, Decimal('0.16'), 89),
 (202, Decimal('0.17'), 67),
 (203, Decimal('0.15'), 59),
 (204, Decimal('0.16'), 77),
 (205, Decimal('0.16'), 79),
 (206, Decimal('0.17'), 70),
 (207, Decimal('0.15'), 69),
 (208, Decimal('0.16'), 59),
 (209, Decimal('0.17'), 76),
 (210, Decimal('0.17'), 58),
 (211, Decimal('0.14'), 62),
 (212, Decimal('0.15'), 66),
 (213, Decimal('0.15'), 75),
 (214, Decimal('0.15'), 79),
 (215, Decimal('0.16'), 53),
 (216, Decimal('0.15'), 70),
 (217, Decimal('0.16'), 52),
 (218, Decimal('0.16'), 65),
 (219, Decimal('0.17'), 55),
 (220, Decimal('0.15'), 79),
 (221, Decimal('0.16'), 73),
 (222, Decimal('0.16'), 69),
 (223, Decimal('0.16'), 70),
 (224, Decimal('0.16'), 57),
 (225, Decimal('0.15'), 77),
 (226, Decimal('0.15'), 61),
 (227, Decimal('0.15'), 67),
 (228, Decimal('0.15'), 74),
 (229, Decimal('0.15'), 53),
 (230, Decimal('0.17'), 48),
 (231, Decimal('0.15'), 57),
 (232, Decimal('0.16'), 43),
 (233, Decimal('0.15'), 55),
 (234, Decimal('0.15'), 62),
 (235, Decimal('0.16'), 48),
 (236, Decimal('0.15'), 53),
 (237, Decimal('0.15'), 61),
 (238, Decimal('0.14'), 50),
 (239, Decimal('0.15'), 45),
 (240, Decimal('0.15'), 45),
 (241, Decimal('0.14'), 53),
 (242, Decimal('0.15'), 38),
 (243, Decimal('0.16'), 52),
 (244, Decimal('0.16'), 58),
 (245, Decimal('0.16'), 49),
 (246, Decimal('0.15'), 59),
 (247, Decimal('0.14'), 43),
 (248, Decimal('0.15'), 51),
 (249, Decimal('0.15'), 57),
 (250, Decimal('0.17'), 43),
 (251, Decimal('0.16'), 41),
 (252, Decimal('0.13'), 44),
 (253, Decimal('0.17'), 37),
 (254, Decimal('0.15'), 47),
 (255, Decimal('0.15'), 33),
 (256, Decimal('0.15'), 43),
 (257, Decimal('0.16'), 47),
 (258, Decimal('0.14'), 46),
 (259, Decimal('0.14'), 44),
 (260, Decimal('0.13'), 43),
 (261, Decimal('0.15'), 51),
 (262, Decimal('0.15'), 53),
 (263, Decimal('0.13'), 34),
 (264, Decimal('0.15'), 43),
 (265, Decimal('0.15'), 43),
 (266, Decimal('0.14'), 43),
 (267, Decimal('0.16'), 36),
 (268, Decimal('0.14'), 48),
 (269, Decimal('0.14'), 38),
 (270, Decimal('0.13'), 36),
 (271, Decimal('0.12'), 36),
 (272, Decimal('0.14'), 37),
 (273, Decimal('0.15'), 45),
 (274, Decimal('0.14'), 56),
 (275, Decimal('0.15'), 42),
 (276, Decimal('0.14'), 44),
 (277, Decimal('0.16'), 30),
 (278, Decimal('0.13'), 37),
 (279, Decimal('0.14'), 35),
 (280, Decimal('0.13'), 40),
 (281, Decimal('0.14'), 44),
 (282, Decimal('0.11'), 38),
 (283, Decimal('0.15'), 43),
 (284, Decimal('0.16'), 28),
 (285, Decimal('0.14'), 34),
 (286, Decimal('0.13'), 33),
 (287, Decimal('0.14'), 39),
 (288, Decimal('0.13'), 18),
 (289, Decimal('0.13'), 36),
 (290, Decimal('0.13'), 39),
 (291, Decimal('0.13'), 46),
 (292, Decimal('0.14'), 30),
 (293, Decimal('0.13'), 42),
 (294, Decimal('0.13'), 41),
 (295, Decimal('0.11'), 31),
 (296, Decimal('0.13'), 36),
 (297, Decimal('0.12'), 18),
 (298, Decimal('0.15'), 29),
 (299, Decimal('0.12'), 36),
 (300, Decimal('0.14'), 26),
 (301, Decimal('0.13'), 31),
 (302, Decimal('0.15'), 22),
 (303, Decimal('0.11'), 22),
 (304, Decimal('0.11'), 31),
 (305, Decimal('0.13'), 25),
 (306, Decimal('0.14'), 23),
 (307, Decimal('0.13'), 25),
 (308, Decimal('0.14'), 19),
 (309, Decimal('0.14'), 23),
 (310, Decimal('0.12'), 21),
 (311, Decimal('0.14'), 25),
 (312, Decimal('0.11'), 24),
 (313, Decimal('0.15'), 26),
 (314, Decimal('0.13'), 25),
 (315, Decimal('0.13'), 27),
 (316, Decimal('0.13'), 21),
 (317, Decimal('0.13'), 29),
 (318, Decimal('0.12'), 11),
 (319, Decimal('0.13'), 31),
 (320, Decimal('0.12'), 24),
 (321, Decimal('0.14'), 19),
 (322, Decimal('0.13'), 24),
 (323, Decimal('0.11'), 34),
 (324, Decimal('0.12'), 26),
 (325, Decimal('0.12'), 19),
 (326, Decimal('0.13'), 20),
 (327, Decimal('0.13'), 26),
 (328, Decimal('0.11'), 17),
 (329, Decimal('0.14'), 24),
 (330, Decimal('0.13'), 20),
 (331, Decimal('0.12'), 15),
 (332, Decimal('0.14'), 23),
 (333, Decimal('0.13'), 17),
 (334, Decimal('0.12'), 21),
 (335, Decimal('0.12'), 26),
 (336, Decimal('0.12'), 16),
 (337, Decimal('0.14'), 15),
 (338, Decimal('0.11'), 20),
 (339, Decimal('0.12'), 7),
 (340, Decimal('0.13'), 13),
 (341, Decimal('0.12'), 17),
 (342, Decimal('0.12'), 25),
 (343, Decimal('0.12'), 18),
 (344, Decimal('0.12'), 26),
 (345, Decimal('0.12'), 16),
 (346, Decimal('0.12'), 18),
 (347, Decimal('0.13'), 22),
 (348, Decimal('0.14'), 17),
 (349, Decimal('0.12'), 17),
 (350, Decimal('0.13'), 18),
 (351, Decimal('0.13'), 12),
 (352, Decimal('0.12'), 23),
 (353, Decimal('0.11'), 28),
 (354, Decimal('0.12'), 20),
 (355, Decimal('0.13'), 19),
 (356, Decimal('0.13'), 24),
 (357, Decimal('0.12'), 25),
 (358, Decimal('0.12'), 21),
 (359, Decimal('0.13'), 18),
 (360, Decimal('0.11'), 15),
 (361, Decimal('0.15'), 10),
 (362, Decimal('0.12'), 25),
 (363, Decimal('0.12'), 16),
 (364, Decimal('0.11'), 21),
 (365, Decimal('0.14'), 15),
 (366, Decimal('0.13'), 20),
 (367, Decimal('0.12'), 13),
 (368, Decimal('0.13'), 9),
 (369, Decimal('0.14'), 16),
 (370, Decimal('0.11'), 12),
 (371, Decimal('0.12'), 14),
 (372, Decimal('0.12'), 13),
 (373, Decimal('0.13'), 11),
 (374, Decimal('0.13'), 14),
 (375, Decimal('0.12'), 26),
 (376, Decimal('0.13'), 14),
 (377, Decimal('0.13'), 13),
 (378, Decimal('0.10'), 18),
 (379, Decimal('0.10'), 14),
 (380, Decimal('0.10'), 16),
 (381, Decimal('0.11'), 17),
 (382, Decimal('0.10'), 13),
 (383, Decimal('0.12'), 11),
 (384, Decimal('0.12'), 14),
 (385, Decimal('0.12'), 13),
 (386, Decimal('0.13'), 16),
 (387, Decimal('0.13'), 12),
 (388, Decimal('0.10'), 16),
 (389, Decimal('0.12'), 20),
 (390, Decimal('0.10'), 13),
 (391, Decimal('0.11'), 14),
 (392, Decimal('0.14'), 19),
 (393, Decimal('0.12'), 14),
 (394, Decimal('0.11'), 11),
 (395, Decimal('0.10'), 10),
 (396, Decimal('0.10'), 9),
 (397, Decimal('0.13'), 11),
 (398, Decimal('0.13'), 5),
 (399, Decimal('0.10'), 12),
 (400, Decimal('0.12'), 15),
 (401, Decimal('0.11'), 14),
 (402, Decimal('0.12'), 7),
 (403, Decimal('0.12'), 15),
 (404, Decimal('0.11'), 15),
 (405, Decimal('0.11'), 12),
 (406, Decimal('0.09'), 6),
 (407, Decimal('0.11'), 15),
 (408, Decimal('0.13'), 15),
 (409, Decimal('0.10'), 10),
 (410, Decimal('0.12'), 10),
 (411, Decimal('0.12'), 7),
 (412, Decimal('0.11'), 15),
 (413, Decimal('0.10'), 10),
 (414, Decimal('0.14'), 9),
 (415, Decimal('0.11'), 10),
 (416, Decimal('0.11'), 11),
 (417, Decimal('0.12'), 11),
 (418, Decimal('0.12'), 15),
 (419, Decimal('0.11'), 12),
 (420, Decimal('0.13'), 7),
 (421, Decimal('0.12'), 8),
 (422, Decimal('0.11'), 15),
 (423, Decimal('0.11'), 6),
 (424, Decimal('0.11'), 14),
 (425, Decimal('0.12'), 9),
 (426, Decimal('0.11'), 8),
 (427, Decimal('0.11'), 15),
 (428, Decimal('0.13'), 7),
 (429, Decimal('0.14'), 11),
 (430, Decimal('0.11'), 10),
 (431, Decimal('0.11'), 6),
 (432, Decimal('0.12'), 13),
 (433, Decimal('0.10'), 14),
 (434, Decimal('0.11'), 7),
 (435, Decimal('0.13'), 8),
 (436, Decimal('0.14'), 9),
 (437, Decimal('0.13'), 7),
 (438, Decimal('0.13'), 5),
 (439, Decimal('0.13'), 9),
 (440, Decimal('0.11'), 2),
 (441, Decimal('0.11'), 8),
 (442, Decimal('0.12'), 11),
 (443, Decimal('0.13'), 8),
 (444, Decimal('0.10'), 9),
 (445, Decimal('0.10'), 6),
 (446, Decimal('0.15'), 6),
 (447, Decimal('0.12'), 6),
 (448, Decimal('0.15'), 5),
 (449, Decimal('0.12'), 6),
 (450, Decimal('0.13'), 5),
 (451, Decimal('0.11'), 5),
 (452, Decimal('0.12'), 9),
 (453, Decimal('0.13'), 3),
 (454, Decimal('0.14'), 4),
 (455, Decimal('0.12'), 5),
 (456, Decimal('0.12'), 6),
 (457, Decimal('0.15'), 3),
 (458, Decimal('0.11'), 7),
 (459, Decimal('0.13'), 10),
 (460, Decimal('0.11'), 4),
 (461, Decimal('0.10'), 6),
 (462, Decimal('0.11'), 4),
 (463, Decimal('0.10'), 7),
 (464, Decimal('0.11'), 7),
 (465, Decimal('0.13'), 3),
 (466, Decimal('0.12'), 9),
 (467, Decimal('0.12'), 10),
 (468, Decimal('0.12'), 7),
 (469, Decimal('0.12'), 2),
 (470, Decimal('0.12'), 6),
 (471, Decimal('0.09'), 4),
 (472, Decimal('0.11'), 7),
 (473, Decimal('0.08'), 5),
 (474, Decimal('0.11'), 10),
 (475, Decimal('0.10'), 2),
 (476, Decimal('0.10'), 4),
 (477, Decimal('0.12'), 3),
 (478, Decimal('0.13'), 4),
 (479, Decimal('0.12'), 6),
 (480, Decimal('0.09'), 3),
 (481, Decimal('0.12'), 7),
 (482, Decimal('0.12'), 5),
 (483, Decimal('0.13'), 8),
 (484, Decimal('0.10'), 2),
 (485, Decimal('0.10'), 4),
 (486, Decimal('0.10'), 4),
 (487, Decimal('0.11'), 4),
 (488, Decimal('0.10'), 9),
 (489, Decimal('0.13'), 2),
 (490, Decimal('0.12'), 4),
 (491, Decimal('0.11'), 2),
 (492, Decimal('0.12'), 4),
 (494, Decimal('0.11'), 2),
 (495, Decimal('0.12'), 6),
 (496, Decimal('0.13'), 4),
 (497, Decimal('0.13'), 5),
 (498, Decimal('0.10'), 8),
 (499, Decimal('0.11'), 2),
 (500, Decimal('0.12'), 5),
 (501, Decimal('0.10'), 3),
 (502, Decimal('0.12'), 5),
 (503, Decimal('0.12'), 5),
 (504, Decimal('0.10'), 5),
 (505, Decimal('0.10'), 6),
 (506, Decimal('0.12'), 5),
 (507, Decimal('0.10'), 3),
 (508, Decimal('0.12'), 2),
 (509, Decimal('0.08'), 1),
 (510, Decimal('0.10'), 5),
 (511, Decimal('0.21'), 2),
 (512, Decimal('0.11'), 1),
 (513, Decimal('0.10'), 4),
 (514, Decimal('0.11'), 3),
 (515, Decimal('0.11'), 1),
 (516, Decimal('0.09'), 4),
 (517, Decimal('0.11'), 3),
 (518, Decimal('0.13'), 2),
 (519, Decimal('0.10'), 7),
 (520, Decimal('0.12'), 1),
 (521, Decimal('0.11'), 2),
 (522, Decimal('0.14'), 3),
 (523, Decimal('0.11'), 4),
 (524, Decimal('0.17'), 2),
 (525, Decimal('0.10'), 3),
 (527, Decimal('0.12'), 4),
 (528, Decimal('0.12'), 2),
 (529, Decimal('0.11'), 2),
 (530, Decimal('0.11'), 3),
 (531, Decimal('0.12'), 3),
 (532, Decimal('0.09'), 6),
 (533, Decimal('0.09'), 2),
 (534, Decimal('0.09'), 1),
 (536, Decimal('0.11'), 3),
 (537, Decimal('0.15'), 5),
 (538, Decimal('0.13'), 5),
 (539, Decimal('0.15'), 5),
 (540, Decimal('0.10'), 4),
 (541, Decimal('0.09'), 2),
 (542, Decimal('0.10'), 1),
 (543, Decimal('0.12'), 3),
 (544, Decimal('0.13'), 2),
 (545, Decimal('0.11'), 2),
 (546, Decimal('0.09'), 2),
 (547, Decimal('0.10'), 2),
 (548, Decimal('0.10'), 2),
 (549, Decimal('0.12'), 3),
 (551, Decimal('0.10'), 3),
 (552, Decimal('0.10'), 3),
 (553, Decimal('0.11'), 4),
 (554, Decimal('0.10'), 3),
 (555, Decimal('0.20'), 1),
 (556, Decimal('0.11'), 2),
 (557, Decimal('0.11'), 4),
 (558, Decimal('0.16'), 3),
 (559, Decimal('0.11'), 1),
 (560, Decimal('0.13'), 4),
 (561, Decimal('0.09'), 1),
 (562, Decimal('0.09'), 2),
 (563, Decimal('0.10'), 1),
 (564, Decimal('0.14'), 4),
 (565, Decimal('0.11'), 3),
 (566, Decimal('0.10'), 4),
 (567, Decimal('0.09'), 2),
 (568, Decimal('0.11'), 3),
 (569, Decimal('0.11'), 1),
 (570, Decimal('0.11'), 1),
 (571, Decimal('0.11'), 1),
 (572, Decimal('0.12'), 2),
 (573, Decimal('0.11'), 2),
 (575, Decimal('0.11'), 2),
 (576, Decimal('0.13'), 1),
 (577, Decimal('0.10'), 2),
 (578, Decimal('0.11'), 2),
 (579, Decimal('0.09'), 2),
 (580, Decimal('0.06'), 1),
 (581, Decimal('0.12'), 2),
 (582, Decimal('0.11'), 1),
 (583, Decimal('0.11'), 2),
 (584, Decimal('0.13'), 3),
 (585, Decimal('0.12'), 1),
 (586, Decimal('0.07'), 1),
 (587, Decimal('0.09'), 4),
 (588, Decimal('0.11'), 2),
 (592, Decimal('0.12'), 1),
 (593, Decimal('0.12'), 3),
 (594, Decimal('0.11'), 1),
 (595, Decimal('0.13'), 2),
 (596, Decimal('0.11'), 1),
 (597, Decimal('0.06'), 1),
 (598, Decimal('0.12'), 1),
 (599, Decimal('0.13'), 4),
 (600, Decimal('0.12'), 1),
 (601, Decimal('0.06'), 1),
 (603, Decimal('0.09'), 2),
 (604, Decimal('0.08'), 1),
 (605, Decimal('0.11'), 2),
 (607, Decimal('0.09'), 1),
 (608, Decimal('0.10'), 2),
 (610, Decimal('0.07'), 1),
 (611, Decimal('0.12'), 2),
 (612, Decimal('0.09'), 4),
 (614, Decimal('0.09'), 3),
 (617, Decimal('0.12'), 1),
 (618, Decimal('0.07'), 1),
 (619, Decimal('0.12'), 1),
 (621, Decimal('0.09'), 2),
 (622, Decimal('0.19'), 1),
 (625, Decimal('0.09'), 1),
 (629, Decimal('0.08'), 1),
 (631, Decimal('0.13'), 1),
 (635, Decimal('0.09'), 1),
 (636, Decimal('0.12'), 2),
 (638, Decimal('0.12'), 1),
 (639, Decimal('0.14'), 4),
 (640, Decimal('0.10'), 2),
 (641, Decimal('0.11'), 1),
 (643, Decimal('0.12'), 1),
 (644, Decimal('0.18'), 2),
 (646, Decimal('0.10'), 3),
 (648, Decimal('0.08'), 1),
 (649, Decimal('0.14'), 1),
 (650, Decimal('0.18'), 1),
 (652, Decimal('0.12'), 2),
 (653, Decimal('0.10'), 1),
 (654, Decimal('0.14'), 2),
 (655, Decimal('0.06'), 1),
 (656, Decimal('0.12'), 2),
 (657, Decimal('0.12'), 1),
 (658, Decimal('0.16'), 2),
 (659, Decimal('0.12'), 2),
 (662, Decimal('0.10'), 2),
 (663, Decimal('0.12'), 3),
 (669, Decimal('0.12'), 1),
 (671, Decimal('0.21'), 1),
 (673, Decimal('0.15'), 1),
 (679, Decimal('0.13'), 1),
 (681, Decimal('0.13'), 1),
 (682, Decimal('0.12'), 1),
 (683, Decimal('0.10'), 1),
 (684, Decimal('0.13'), 1),
 (685, Decimal('0.10'), 1),
 (690, Decimal('0.21'), 1),
 (695, Decimal('0.26'), 1),
 (697, Decimal('0.15'), 2),
 (700, Decimal('0.10'), 1),
 (709, Decimal('0.11'), 2),
 (712, Decimal('0.11'), 2),
 (714, Decimal('0.10'), 3),
 (718, Decimal('0.24'), 1),
 (724, Decimal('0.26'), 1),
 (727, Decimal('0.15'), 2),
 (731, Decimal('0.09'), 1),
 (736, Decimal('0.12'), 1),
 (737, Decimal('0.16'), 1),
 (739, Decimal('0.16'), 1),
 (751, Decimal('0.15'), 1),
 (755, Decimal('0.26'), 1),
 (770, Decimal('0.22'), 1),
 (774, Decimal('0.09'), 1),
 (779, Decimal('0.08'), 1),
 (782, Decimal('0.09'), 1),
 (789, Decimal('0.13'), 1),
 (790, Decimal('0.11'), 1),
 (796, Decimal('0.12'), 1),
 (802, Decimal('0.11'), 1),
 (818, Decimal('0.12'), 1),
 (821, Decimal('0.21'), 1),
 (833, Decimal('0.24'), 1),
 (838, Decimal('0.20'), 1),
 (856, Decimal('0.15'), 1),
 (863, Decimal('0.12'), 1),
 (866, Decimal('0.09'), 1),
 (881, Decimal('0.24'), 1),
 (888, Decimal('0.20'), 1),
 (894, Decimal('0.12'), 1),
 (899, Decimal('0.09'), 1),
 (917, Decimal('0.11'), 1),
 (1011, Decimal('0.11'), 1),
 (1024, Decimal('0.20'), 1),
 (1035, Decimal('0.11'), 1),
 (1189, Decimal('0.12'), 1)]

Task 10: Loan Durations and Return Rates.
Our mission is to delve into the correlation between loan durations and return rates within our loan dataset. We embark on this task to comprehend how the duration of loans impacts the returns for investors, and to assess the distribution of loans across different timeframes. Through SQL's grouping and aggregation, we gain insights into the average return rates for loans of varying durations. This analysis equips us to refine our lending and investment strategies, offering attractive opportunities that align with investors' preferences, ultimately contributing to a more informed and rewarding financial environment.

In [52]:
%sql select duration, cast(avg(rate) as decimal(10,2)) as average_interst_rate, count(*) as loan_count from loans group by duration order by duration

 * postgresql://postgres:***@localhost/statistical_loan
3 rows affected.

[(12, Decimal('0.15'), 1613),
 (36, Decimal('0.20'), 57112),
 (60, Decimal('0.19'), 23983)]

Task 11: Prosper Ratings and Return Rates.¶
Our mission is to decipher the relationship between Prosper ratings and return rates within our loan dataset. We undertake this task to understand how creditworthiness influences the investment returns for our stakeholders and to evaluate the distribution of loans across different Prosper rating categories. Utilizing SQL's grouping and aggregation, we extract insights into the average return rates for each rating category. This analysis empowers us to tailor our investment strategies, offering attractive opportunities that match investors' risk preferences, fostering a more rewarding and informed investment landscape.

In [53]:
%sql select prosper, cast(avg(rate) as decimal(10,2)) as average_interest_rate, count(*) as loan_count from loans group by prosper order by prosper

 * postgresql://postgres:***@localhost/statistical_loan
7 rows affected.

[('A', Decimal('0.11'), 14186),
 ('AA', Decimal('0.08'), 5273),
 ('B', Decimal('0.15'), 15124),
 ('C', Decimal('0.19'), 17728),
 ('D', Decimal('0.25'), 13987),
 ('E', Decimal('0.29'), 9547),
 ('HR', Decimal('0.32'), 6863)]